#toggle {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    padding: 0;
    display: none;
}

.menu {
    width: 100%;
    height: 70px;
    position: fixed;
    /* background-color: var(--backgr); */
    display: flex;
    padding: 4px 100px;
    justify-content: space-between;
    z-index: 999;
}

.menu-scroll {
    background-color: var(--backgr);
    transition: 0.5s ease;
    border-bottom: 1px solid #adadad;
}

.menu .img {
    width: 60px;
    height: 60px;
}

.menu .img img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #ffffff;
}

.nav-item {
    cursor: pointer;
}

.body {
    width: 100%;
}

.banner {
    width: 100%;
    height: 638px;
}

.banner .img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-text {
    position: absolute;
    top: 28%;
    left: 10%;
    color: var(--backgr);

}

.img-text h2 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 38px;
    padding: 0 0 70px 100px;
}

.img-text {
    font-weight: lighter;
}

.banner .img img {
    width: 100%;
    height: 100%;
    max-height: 638px;
}

.slick-dots li.slick-active button:before {
    color: #e8e8e8;
}

.slick-dots li button:before {
    color: #adadad;
    content: '-';
    font-size: 50px;
    line-height: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slick-next:before,
.slick-prev:before {
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slick-next {
    z-index: 999;
    right: 30px;
}

.slick-prev {
    z-index: 999;
    left: 30px;
}

.slick-next:before {
    content: '>';
}

.slick-prev:before {
    content: '<';
}

.slick-dots {
    bottom: 14px;
}

.slick-dots li {
    padding: 0 10px;
}

.info {
    width: 60%;
    margin: 10px auto;
}

.reality {
    width: 100%;
}

.header-info {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 60px 0 20px;
}

.heading-info {
    font-size: 24px;
    padding: 20px 0 10px;
}

.box-text-img {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.text-info {
    font-size: 24px;
    width: 48%;
}

.text-info2 {
    width: 100%;
    font-size: 24px;
    margin: 32px 0 0;
}

.info .img {
    width: 48%;
    height: 308px;
    text-align: center;
}

.info .img img,
.info .img-img img {
    width: 100%;
    height: 94%;
    border-radius: 20px;
}

.info .img-img {
    width: 80%;
    margin: auto;
}

/* chung tay bảo vệ động vật hoang dã */
.guard {
    background-image: url(/images/pexels-photo-1781933.jpeg);
    width: 100%;
    height: 640px;
    color: var(--backgr);
    background-size: cover;
    text-align: center;
    margin: 40px 0 20px;
}

.heading-guard {
    width: 60%;
    margin: auto;
    padding: 70px 0 0 0;
    font-size: 68px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.text-guard {
    width: 80%;
    margin: 50px auto;
    font-size: 24px;
}

.header-guard {
    width: 30%;
    font-weight: 400;
    margin-left: 60%;
    text-align: right;
    font-size: 36px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.footer {
    width: 100%;
    height: 400px;
    color: var(--backgr);
    background-color: var(--color);
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
}

.left-ft {
    width: 40%;
}

.heading-ft {
    font-size: 28px;
    line-height: 1.6;
    padding: 0 0 20px 0;
}

.text-ft {
    padding: 6px 0;
}

.qg {
    padding-left: 88px;
}

.right-ft {
    width: 30%;
    height: 100%;
    text-align: right;
}

.right-ft img {
    width: 80%;
    height: 100%;
}

/* book stickets */
.banner-banner {
    width: 100%;
    height: 638px;
}

.banner-banner .img {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-banner .img img {
    width: 100%;
    height: 100%;
    max-height: 638px;
}

.box-stickets {
    margin: 30px 0 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.stickets {
    width: 26%;
    height: 345px;
}

.stickets img {
    width: 100%;
    height: 70%;
}

.text-stickets {
    background-color: #F6F2C5;
    position: relative;
    top: -30px;
    border-radius: 16px;
    height: 80px;
    padding: 12px 0;
}

.stickets button {
    width: 80px;
    height: 36px;
    background-color: #F33131;
    border: none;
    border-radius: 6px;
    color: var(--backgr);
    position: relative;
    top: -40px;
    cursor: pointer;
}

.stickets button:hover {
    background-color: #fc1d1d;
}

@media (max-width: 1024px) {
    .menu {
        padding: 4px 12px;
    }

    .navbar {
        width: 70%;
    }

    .banner {
        height: 426px;
    }

    .banner-banner {
        height: 426px;
    }

    .banner .img img {
        max-height: 426px;
    }

    .banner-banner .img img {
        max-height: 426px;
    }

    .stickets {
        height: 246px;
    }

    .text-stickets {
        height: 66px;
    }

    .text-stickets p {
        font-size: 12px;
    }

    .header-info {
        line-height: 1.2;
    }

    .info {
        width: 80%;
    }

    .info .img {
        height: 290px;
    }

    .text-info, .text-info2 {
        font-size: 22px;
    }

    .guard {
        height: 550px;
    }

    .heading-guard {
        font-size: 56px;
        width: 80%;
    }

    .text-guard {
        width: 90%;
        font-size: 20px;
    }

    .header-guard {
        font-size: 28px;
    }

    /* footer */
    .heading-ft {
        font-size: 22px;
    }

    .text-ft {
        padding: 1px 0;
    }
}

@media (max-width: 520px) {
    #toggle {
        margin: 0 26px;
        display: block;
    }

    .menu {
        justify-content: unset;
        align-items: center;
        padding: 0;
    }

    .menu .img {
        width: 40px;
        height: 40px;
    }

    .navbar {
        display: none;
        background-color: #fff;
        position: absolute;
        bottom: -156px;
        width: 100%;
        text-align: center;
    }

    .nav-item {
        padding: 3px 0;
    }

    .navbar a {
        color: #000;
    }

    .banner {
        height: 220px;
    }

    .banner-banner {
        height: 220px;
    }

    .slick-next:before,
    .slick-prev:before {
        display: none;
    }

    .banner .img img {
        max-height: 220px;
    }

    .img-text h2 {
        font-size: 24px;
        padding: 0 0 20px 20px;
    }

    .box-text-img {
        display: block;

    }

    .header-info {
        padding: 20px 0 20px;
    }

    .info .img {
        width: 100%;
        height: 220px;
        margin: 20px 0 30px;
    }

    .header-info {
        font-size: 24px;
        line-height: 1.2;
    }

    .text-info {
        width: 100%;
        font-size: 18px;
    }

    .text-info2 {
        font-size: 18px;
    }

    .text-img {
        font-size: 10px;
    }

    .guard {
        height: 260px;
    }

    .heading-guard {
        font-size: 24px;
        padding: 10px 0 0 0;
    }

    .text-guard {
        font-size: 14px;
        line-height: 1.2;
        margin: 10px auto;
    }

    .header-guard {
        font-size: 20px;
        line-height: 1.2;
    }

    .footer {
        height: 290px;
        padding: 20px 0;
    }

    .left-ft {
        width: 100%;
        padding: 0 16px;
    }

    .right-ft {
        display: none;
    }

    .heading-ft {
        font-size: 18px;
    }

    .stickets {
        width: 38%;
    }
}